.ag-theme-alpine .ag-header-cell {
  padding-left: 10px;
  padding-right: 10px;
}

.ag-right-header .ag-header-cell-label {
  flex-direction: row-reverse;
}

.ag-center-header .ag-header-cell-label {
  justify-content: center !important;
  text-align: center !important;
}

.ag-left-header .ag-header-cell-label {
  flex-direction: row;
}

.ag-center-cell,
.ag-right-cell,
.ag-left-cell {
  display: flex !important; /* Establishes flex container */
  align-items: center !important; /* Centers content vertically */
  height: 100% !important; /* Ensures the cell occupies full height */
}

.ag-center-cell {
  text-align: center !important;
  justify-content: center !important;
}

.ag-right-cell {
  text-align: right !important;
  justify-content: right !important;
}

.ag-left-cell {
  text-align: left !important;
  justify-content: !important;
}

/* Centrering datum placeholder in AG-Grid */
.ag-date-filter .ag-input-wrapper .ag-input-field-input {
  text-align: center !important;
  justify-content: center !important;
}

/* Set ag-grid container */
.ag-grid-container {
  height: 100%; /* Adjusted to take the full height of its parent */
  width: 100%;
  overflow: auto; /* To ensure content can scroll if it overflows */
}

/* Customize scrollbar for WebKit browsers */
.ag-scrollbar ::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

.ag-scrollbar ::-webkit-scrollbar-track {
  background-color: var(--scrollbar-track);
  border-radius: 0.5rem;
}

.ag-scrollbar ::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-thumb);
  border-radius: 0.5rem;
}

.ag-scrollbar ::-webkit-scrollbar-thumb:hover {
  background-color: var(--scrollbar-thumb-hover);
}

/* Customize scrollbar for Firefox */
.ag-scrollbar {
  scrollbar-width: thin; /* "auto" or "thin" */
  scrollbar-color: var(--scrollbar-thumb) var(--scrollbar-track);
}

.ag-body-horizontal-scroll-viewport::-webkit-scrollbar {
  height: 8px; /* Adjust the height as needed */
}

.ag-body-horizontal-scroll-viewport {
  scrollbar-width: thin; /* Use 'auto', 'thin', or 'none' */
}

/* For Webkit-based browsers */
.ag-menu::-webkit-scrollbar {
  width: 10px; /* Adjust the width as needed */
}

/* For Firefox */
.ag-menu {
  scrollbar-width: thin; /* You can use 'auto', 'thin', or a specific size */
}

/* Ensure the grid has a minimum height */
.ag-center-cols-viewport {
  min-height: 50  0px !important;
}

/* Centrering datum placeholder in AG-Grid */
.ag-date-filter .ag-input-wrapper .ag-input-field-input {
  text-align: center !important;
  justify-content: center !important;
}